.Trends {
  display: none;
  font-family: Arial;
}

@media screen and (min-width: 600px) {
  .Trends {
    display: block;
    background-color: white;
    border-left: 1px solid lightgrey;
    width: 35%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 5px;
  }

  .Trends::-webkit-scrollbar {
    display: none;
  }

  .Trends h3 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    background-color: white;
  }
}
