.Trends {
  display: none;
  font-family: Arial;
}

@media screen and (min-width: 600px) {
  .Trends {
    display: block;
    background-color: white;
    width: 35%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px 5px;
    overflow-y: scroll;
  }

  .Trends::-webkit-scrollbar {
    display: none;
  }

  .scrolled {
    border-radius: 40px;
    top: 20%;
    width: 30%;
    height: 60%;
    left: 68%;
    right: 30%;
    border: 1px solid lightgrey;
    padding: 10px;
  }
}
