.Trends {
  display: none;
  font-family: Arial;
  border-left: 1px solid lightgrey;
}

@media screen and (min-width: 600px) {
  .Trends {
    display: block;
    background-color: white;
    width: 35%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px 5px;
    overflow-y: scroll;
  }

  .Trends::-webkit-scrollbar {
    display: none;
  }
}
