.SideMenu {
  display: none;
}

@media screen and (min-width: 600px) {
  .SideMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border-right: 1px solid lightgrey;
    width: 20%;
    height: 100vh;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
  }

  .SideMenu ul {
    padding: 0 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .SideMenu ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .SideMenu ul li:hover {
    color: #3a98d1;
  }

  .SideMenu ul li img {
    width: 25px;
    height: 25px;
  }

  .SideMenu button {
    align-self: center;
    width: 70%;
    padding: 10px 26px;
    border: none;
    background-color: #3a98d1;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
