.PostsList {
  width: 100%;
  position: absolute;
  top: 20%;
  bottom: 10%;
  left: 0;
  padding: 10px 5px;
}

@media screen and (min-width: 600px) {
  .PostsList {
    width: 45%;
    bottom: 0px;
    left: 20%;
  }
}
